<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'user_app/css/base.css' %}">
</head>
<body>

    <div class="navbar">
        <div class="logo"></div>
        <div class="nav-links">
            <ul>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="">About</a></li>
                <!-- We need to show Login or Logout based on wether the user is logged in or out -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_logout' %}">Logout</a></li>
                    <li><a href="{% url 'special_view' %}">Special</a></li>
                {% else %}
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>

    </div>

    {% block body_block %}



    {% endblock %}

    <div class="footer">
        <div class="footer-left"></div>
        <div class="footer-right">
            <p>Here is the footer</p>
        </div>
    </div>
</body>
</html>