body{
    width: 80%;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellowgreen;
}

.logo{
    background-color: black;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}